/* Overall styles */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Prevent default body scrollbar */
}
.container {
  display: flex;
  height: 100vh;
}

/* Main content styles */
.main-content {
  flex: 5; /* Main content takes up 5/6 of the screen */
  background-color: #333; /* Change main content color as needed */
  position: relative; /* For positioning shapes */
}

/* Sidebar styles */
.sidebar {
  flex: 1; /* Sidebar takes up 1/6 of the screen */
  background-color: #eee; /* Change sidebar color as needed */
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Menu sections each take up half of the sidebar */
.color-section, .shape-section {
  height: 50%; /* Each section takes up half of the sidebar */
  overflow-y: auto; /* Enable vertical scrolling if needed */
}

/* Section heading styles */
.section-heading {
  font-weight: bold;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

/* Divider between sections */
.divider {
  height: 1px;
  background-color: #ccc;
  margin: 10px 0;
}

/* Grid item styles */
.grid-item {
  padding: 10px;
  border-bottom: 1px solid #ccc; /* Add borders between grid items */
  cursor: pointer; /* Show pointer cursor on hover */
}

/* Add CSS to style the checkmark */
.checkmark {
  display: none; /* Initially hide all checkmarks */
  color: green; /* Change color of the checkmark as needed */
  margin-left: 5px; /* Adjust spacing between color name and checkmark */
}

/* Hover effect for unselected grid items */
.color-items .grid-item:not(.color-selected):hover {
  background-color: inherit; /* Change background color on hover for unselected items */
}

.shape-btn {
  display: block;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
}
